  <a routerLink="/details/{{id}}">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 card">
    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" [src]="avatar">
      </div>
      <div class="team-content">
        <h3 class="name">{{first_name}} {{last_name}}</h3>
        <h4 class="title">{{email}}</h4>
      </div>
      <ul class="social">
        <li><a href="https://facebook.com" class="fa-brands fa-square-facebook" aria-hidden="true"></a></li>
    <!-- <i class="fa-brands fa-google"></i> -->
        <li><a href="https://x.com"class="fa-solid fa-x" aria-hidden="true"></a></li>
        <li><a href="https://google.com" class="fa-brands fa-google" aria-hidden="true"></a></li>
        <li><a href="https://linkedin.com" class="fa-brands fa-linkedin" aria-hidden="true"></a></li>
      </ul>
    </div>
  </div>
</a>
